@font-face {
  font-family: 'AnarchyScore';
  src: url('fonts/captureit.eot'); /* IE9 Compat Modes */
  src: url('fonts/captureit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/captureit.woff') format('woff'), /* Modern Browsers */
       url('fonts/captureit.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    //background: url(../images/grunge_bg.jpg);
    //opacity: 0.05;
}

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    max-width: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    //background: url(../images/grunge_bg.jpg);
    //opacity: 0.2;
    //background: rgba(0,0,0,0.7);
}

#overlay .center {
    margin: 0 auto;
    width: 50%;
    margin-top: 22%;
    text-align: center;
}
#overlay .center h1 {
    color: #fff;
}


h1, h2, h3, h4, p {
    color: #fff;
    font-family: 'AnarchyScore', captureit, Serif;
    font-weight: normal;
}

#total-dist {
    margin-left: 1em;
    font-size: 4em;
}
#base-text {
    font-size:4em;
    margin: 0;
    padding: 0;
}
#secondary-text {
    font-size:5em;
    margin: 0;
    padding: 0;
}

#distance-text{
    position: fixed;
    bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
}

#distance-text-left{
    margin-left: 1050px;
}


#distance-bar{
  position: fixed;
  bottom: 12px;
  background-color: #eee;
  height: 30px;
  width: 98%;
  margin-left: 10px;

}
 
progress[value]::-webkit-progress-value {
  background-color: #fff;
  border-color: white;
}
